.App {
  text-align: center;
  color: cornflowerblue;
  font-size: 50px;
}

.smurf-container {
  width: 20%;
  margin: auto;
  text-align: center;;
  border: solid grey 2px;
  padding: 3%;
  font-size: 18px;
  color: black;
  background-color: white;
}

.smurf-container img {
  width: 15rem;

  
}


.smurf-village h2 {
  text-align: center;
 
}

.smurf-village {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  
}

.form-container h2 {
  text-align: center;
  margin-top: 2%;
  color: white;
}

.form-container button {
  margin-top: 2%;
  width: 5rem;
}

.form-container {
  background-color: cornflowerblue;
  width: 20rem;
  margin: auto;
  padding: 20px;
  margin-bottom: 10%;
}